# Dependencies
node_modules/
vendor/

# Build outputs
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
data/
postgres-data/
influxdb-data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Testing
coverage/
.nyc_output/

# Compiled binaries
apps/telemetry/main

# Database dumps
*.sql

# Misc
.turbo/
.cache/
thesis/main.synctex(busy)
